.call-to-action-bar {
  background-color:#f7f7f7;
  padding:50px 0;
  margin-top:80px;
  .leftCol {
    max-width:400px;
  }
  h3 {
    font-size:22px;
    .sans-serif-bold;
  }
  p {
    color:#b0b0b0;
    font-size:18px;
  }
  form {
    padding-right:100px;
    position:relative;
  }
  input.submitButton {
    position:absolute;
    width:110px;
    top:0;
    right:0;
    border-radius:0 5px 5px 0;
  }
  h4 {
    font-size:24px;
    font-weight:normal;
    max-width:330px;
    color:#282828;
    line-height:35px;
  }
  .text-center {
    max-width:500px;
    margin:0 auto;
  }
}
