.kickstarter {
  background-color:#f57266;
  padding:200px 0 50px;
  margin-top:-200px;
  h2 {
    color:#ffffff;
    font-size:44px;
    margin-bottom:10px;
  }
  .button {
    border:1px solid #000000 !important;
    background-color: transparent;
    border-radius: 5px;
    font-size: 13px;
    color:#ffffff;
    display: block;
    float: right;
    width: 200px;
    text-align: center;
    padding:12px 15px 12px 15px;
    text-transform: capitalize;
    img {
      margin-right: 15px;
      display: inline-block;
      width: 13px;
    }
  }
  .button:hover {
    background-color:#000000;
  }
  p {
    color: @text-default;
    font-size: 20px;
    line-height: 27px;
    padding: 15px 0 0;
  }
}
