.main-navigation {
  padding: 15px 0 50px;
  background-color: white;
}
.main-navigation .navbar.navbar-default {
  background-color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.main-navigation .navbar.navbar-default ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.main-navigation .navbar.navbar-default li {
  float: left;
  margin-left: 35px;
  text-transform: uppercase;
  padding: 0;
}
.main-navigation .navbar.navbar-default li a {
  color: #000000;
  display: block;
  font-size: 12px;
  padding-bottom: 3px;
}
.main-navigation .navbar.navbar-default li:hover > a {
  color: #f77979;
}
.main-navigation .navbar.navbar-default .navbar-header {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  color: #000000;
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
.main-navigation .navbar.navbar-default .navbar-brand {
  float: left;
  margin: 0;
  padding: 0;
  width: 53px;
}
@media (min-width: 768px) {
  .main-navigation .navbar.navbar-default {
    background-color: transparent;
    border-color: rgba(255, 255, 255, 0.3);
  }
  .main-navigation .navbar.navbar-default .navbar-header .navbar-brand {
    color: rgba(255, 255, 255, 0.7);
  }
  .main-navigation .navbar.navbar-default .navbar-header .navbar-brand:hover,
  .main-navigation .navbar.navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .main-navigation .navbar.navbar-default .nav > li > a,
  .main-navigation .navbar.navbar-default .nav > li > a:focus {
    color: rgba(0, 0, 0, 0.7);
  }
  .main-navigation .navbar.navbar-default .nav > li > a:hover,
  .main-navigation .navbar.navbar-default .nav > li > a:focus:hover {
    color: #F57266;
  }
}
.top-content .container {
  position: relative;
}
.top-content .column-left {
  max-width: 400px;
  padding-top: 50px;
}
.top-content .column-left:after {
  content: '';
  width: 98px;
  height: 4px;
  background-color: #f77979;
  display: block;
}
.top-content h2 {
  font-size: 38px;
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 1000;
  max-width: 300px;
  letter-spacing: 1.7px;
}
.top-content p {
  color: #b0b0b0;
  line-height: 25px;
  font-size: 18px;
}
.iphone-pic {
  position: absolute;
  top: -70px;
  right: -50px;
  width: 414px;
}
.call-to-action-bar {
  background-color: #f7f7f7;
  padding: 50px 0;
  margin-top: 80px;
}
.call-to-action-bar .leftCol {
  max-width: 400px;
}
.call-to-action-bar h3 {
  font-size: 25px;
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 1000;
}
.call-to-action-bar p {
  color: #b0b0b0;
  font-size: 18px;
}
.call-to-action-bar form {
  position: relative;
}
.call-to-action-bar form input {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  height: 42px;
  font-size: 15px;
  outline: none;
  color: #000000;
  display: block;
  width: 100%;
  padding: 12px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}
.call-to-action-bar form input:focus {
  border-color: #bbbbbb;
}
.call-to-action-bar form input + .submitButton {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: absolute;
  display: block;
  width: 100px;
  height: 42px;
  top: 0;
  right: 0;
  float: left;
  border-radius: 0 5px 5px 0;
  background-color: #F57266;
  font-size: 14px;
  color: white;
  border: none;
  padding: 14px;
}
.call-to-action-bar form input + .submitButton:hover {
  background-color: #d65246;
}
.call-to-action-bar form input + .submitButton:active {
  background-color: #d65246;
}
.call-to-action-bar h4 {
  font-size: 24px;
  font-weight: normal;
  max-width: 330px;
  color: #282828;
  line-height: 35px;
}
.call-to-action-bar .text-center {
  max-width: 500px;
  margin: 0 auto;
}
.middle-content {
  padding: 60px 0;
  text-align: center;
  position: relative;
}
.middle-content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.middle-content li {
  flex-grow: 0;
  margin: 0 25px 20px;
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  vertical-align: bottom;
  text-transform: uppercase;
}
.middle-content li span:nth-child(1) {
  display: block;
  width: 16px;
  margin: 0 auto 20px;
}
.laptop-pic {
  margin-top: 50px;
}
.kickstarter {
  background-color: #f57266;
  padding: 200px 0 50px;
  margin-top: -200px;
}
.kickstarter h2 {
  color: #ffffff;
  font-size: 44px;
  margin-bottom: 10px;
}
.kickstarter .button {
  border: 1px solid #000000 !important;
  background-color: transparent;
  border-radius: 5px;
  font-size: 13px;
  color: #ffffff;
  display: block;
  float: right;
  width: 200px;
  text-align: center;
  padding: 12px 15px 12px 15px;
  text-transform: capitalize;
}
.kickstarter .button img {
  margin-right: 15px;
  display: inline-block;
  width: 13px;
}
.kickstarter .button:hover {
  background-color: #000000;
}
.kickstarter p {
  color: #000000;
  font-size: 20px;
  line-height: 27px;
  padding: 15px 0 0;
}
.bottom-content {
  text-align: center;
  padding: 60px 0;
}
.bottom-content h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.bottom-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}
.bottom-content li {
  padding: 0 10px;
  width: 33.33%;
  margin-bottom: 30px;
}
.bottom-content ul:nth-child(3) li:nth-child(2) {
  margin-top: 12px;
}
.bottom-content ul:nth-child(3) li {
  margin-bottom: 30px;
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #282828;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
hr {
  border-color: #F57266;
  border-width: 3px;
  max-width: 50px;
}
a {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  color: #000000;
}
a:hover,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 700;
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
p {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 25px;
  margin: 0;
  line-height: 30px;
}
.bg-primary {
  background-color: #F57266;
}
.container {
  max-width: 800px;
}
.column-left {
  max-width: 400px;
}
.no-padding {
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
strong {
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 1000;
}
.section-heading {
  margin-top: 0;
}
footer .footer-col {
  margin-bottom: 20px;
}
footer .footer-below {
  padding: 25px 0;
  background: rgba(245, 114, 102, 0.4);
  font-size: 16px;
}
.text-primary {
  color: #F57266;
}
