.main-navigation {
  padding: 15px 0 50px 0;
  background-color: white;
}
.main-navigation .navbar.navbar-default {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  background-color: white;
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
}
.main-navigation .navbar.navbar-default ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default ul {
    text-align: left;
  }
}
.main-navigation .navbar.navbar-default li {
  float: left;
  margin-left: 35px;
  padding: 0;
}
.main-navigation .navbar.navbar-default li a {
  color: #000000;
  display: block;
  font-size: 14px;
  padding-bottom: 3px;
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default li a {
    height: auto;
    border: none;
    color: white;
    padding: 15px 0;
  }
}
.main-navigation .navbar.navbar-default li:hover > a {
  color: #f77979;
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default li:hover > a {
    color: black;
  }
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default li {
    display: block;
    float: none;
    font-size: 16px;
    margin: 0;
    padding-left: 15px;
  }
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default li:nth-child(2n) {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
  }
}
.main-navigation .navbar.navbar-default button {
  font-size: 30px;
  border: 0;
}
.main-navigation .navbar.navbar-default button:hover,
.main-navigation .navbar.navbar-default button:focus,
.main-navigation .navbar.navbar-default button:active {
  background: none;
}
.main-navigation .navbar.navbar-default .navbar-header {
  box-shadow: none;
  -webkit-box-shadow: none;
  border: 0;
  color: #000000;
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default .navbar-header {
    padding: 0 0 10px;
  }
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default .navbar-collapse {
    float: none;
    border: none;
    padding: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    background-color: #F57266;
    margin: 0 -15px;
  }
}
.main-navigation .navbar.navbar-default .navbar-brand {
  float: left;
  margin: 0;
  padding: 0;
  width: 53px;
}
@media (max-width: 768px) {
  .main-navigation .navbar.navbar-default {
    border: 0;
    margin: 0;
    float: none;
  }
}
@media (max-width: 768px) {
  .main-navigation {
    padding: 15px 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    border: 0;
  }
}
.top-content .container {
  position: relative;
}
.top-content .column-left {
  max-width: 400px;
  padding-top: 50px;
}
@media (max-width: 768px) {
  .top-content .column-left {
    padding-top: 30px;
    max-width: 350px;
  }
}
@media (max-width: 550px) {
  .top-content .column-left {
    max-width: 100%;
    padding-top: 20px;
  }
}
.top-content .column-left:after {
  content: '';
  width: 98px;
  height: 4px;
  background-color: #f77979;
  display: block;
}
.top-content h2 {
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 1000;
  font-size: 38px;
  max-width: 300px;
  letter-spacing: 1.5px;
}
@media (max-width: 768px) {
  .top-content h2 {
    font-size: 30px;
  }
}
@media (max-width: 650px) {
  .top-content h2 {
    font-size: 24px;
  }
}
.top-content p {
  color: #b0b0b0;
  line-height: 25px;
  font-size: 18px;
}
.top-content .iphone-pic {
  position: absolute;
  top: -70px;
  right: -50px;
  width: 414px;
}
@media (max-width: 992px) {
  .top-content .iphone-pic {
    right: 0;
    width: 300px;
  }
}
@media (max-width: 768px) {
  .top-content .iphone-pic {
    top: -40px;
  }
}
@media (max-width: 650px) {
  .top-content .iphone-pic {
    top: -40px;
    width: 180px;
  }
}
@media (max-width: 550px) {
  .top-content .iphone-pic {
    display: none;
  }
}
.call-to-action-bar {
  background-color: #f7f7f7;
  padding: 50px 0;
  margin-top: 80px;
}
.call-to-action-bar .column-left {
  max-width: 400px;
}
@media (max-width: 768px) {
  .call-to-action-bar .column-left {
    max-width: 350px;
  }
}
@media (max-width: 650px) {
  .call-to-action-bar .column-left {
    margin: 0 auto;
    text-align: center;
  }
}
.call-to-action-bar h3 {
  font-size: 25px;
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 1000;
  margin: 0 0 10px;
}
.call-to-action-bar p {
  color: #b0b0b0;
  font-size: 18px;
  padding-bottom: 15px;
}
.call-to-action-bar form {
  position: relative;
}
.call-to-action-bar form input {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  height: 42px;
  font-size: 15px;
  outline: none;
  color: #000000;
  display: block;
  width: 100%;
  padding: 12px 10px;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #d2d2d2;
}
.call-to-action-bar form input:focus {
  border-color: #bbbbbb;
}
.call-to-action-bar form input + .submitButton {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  position: absolute;
  display: block;
  width: 100px;
  height: 42px;
  top: 0;
  right: 0;
  float: left;
  border-radius: 0 5px 5px 0;
  background-color: #F57266;
  font-size: 14px;
  color: white;
  border: none;
  padding: 14px;
}
.call-to-action-bar form input + .submitButton:hover {
  background-color: #d65246;
}
.call-to-action-bar form input + .submitButton:active {
  background-color: #d65246;
}
.call-to-action-bar h4 {
  font-size: 24px;
  font-weight: normal;
  max-width: 330px;
  color: #282828;
  line-height: 35px;
}
.call-to-action-bar .text-center {
  max-width: 500px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .call-to-action-bar {
    margin-top: 60px;
  }
}
@media (max-width: 550px) {
  .call-to-action-bar {
    margin-top: 30px;
  }
}
.middle-content {
  padding: 60px 0;
  text-align: center;
  position: relative;
}
.middle-content ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  margin: 0;
  padding: 0;
}
.middle-content li {
  flex-grow: 0;
  margin: 0 25px 20px;
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  font-size: 13px;
  vertical-align: bottom;
}
.middle-content li span:nth-child(1) {
  display: block;
  width: 16px;
  margin: 0 auto 20px;
}
@media (max-width: 768px) {
  .middle-content li {
    margin: 0 15px 20px;
  }
}
@media (max-width: 650px) {
  .middle-content li {
    margin: 0 10px 30px;
  }
}
@media (max-width: 550px) {
  .middle-content li {
    margin: 0 30px 30px;
  }
}
.middle-content .laptop-pic {
  margin-top: 50px;
}
@media (max-width: 768px) {
  .middle-content .laptop-pic {
    margin-top: 20px;
  }
}
@media (max-width: 768px) {
  .middle-content {
    padding: 50px 0;
  }
}
@media (max-width: 650px) {
  .middle-content {
    padding: 25px 0;
  }
}
.kickstarter {
  background-color: #f57266;
  padding: 200px 0 50px;
  margin-top: -200px;
}
.kickstarter .row {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-flow: row wrap;
}
.kickstarter .row .thank-you-column {
  width: 33.333%;
  padding: 0 15px;
}
.kickstarter .row .thank-you-column h2 {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  float: right;
  color: #ffffff;
  font-size: 44px;
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .kickstarter .row .thank-you-column h2 {
    font-size: 42px;
  }
}
@media (max-width: 768px) {
  .kickstarter .row .thank-you-column h2 {
    font-size: 38px;
  }
}
@media (max-width: 650px) {
  .kickstarter .row .thank-you-column h2 {
    width: 100%;
  }
}
.kickstarter .row .thank-you-column .button {
  border: 1px solid #000000 !important;
  background-color: transparent;
  border-radius: 5px;
  font-size: 13px;
  color: #ffffff;
  display: block;
  float: right;
  width: 185px;
  text-align: center;
  padding: 10px 12px 10px 12px;
}
.kickstarter .row .thank-you-column .button img {
  margin-right: 15px;
  display: inline-block;
  width: 13px;
}
@media (max-width: 768px) {
  .kickstarter .row .thank-you-column .button {
    width: 180px;
    float: right;
  }
}
@media (max-width: 650px) {
  .kickstarter .row .thank-you-column .button {
    float: none;
  }
}
.kickstarter .row .thank-you-column .button:hover {
  background-color: #000000;
}
@media (max-width: 768px) {
  .kickstarter .row .thank-you-column {
    max-width: 600px;
    margin: 0 auto;
  }
}
@media (max-width: 650px) {
  .kickstarter .row .thank-you-column {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 100%;
    padding: 15px 0;
  }
}
.kickstarter .row .text-column {
  width: 66.667%;
  padding: 0 15px;
}
.kickstarter .row .text-column p {
  color: #000000;
  font-size: 20px;
  line-height: 25px;
}
@media (max-width: 768px) {
  .kickstarter .row .text-column p {
    padding: 0;
  }
}
@media (max-width: 550px) {
  .kickstarter .row .text-column p {
    font-size: 17px;
  }
}
@media (max-width: 650px) {
  .kickstarter .row .text-column {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .kickstarter {
    text-align: center;
  }
}
.bottom-content {
  text-align: center;
  padding: 60px 0;
}
.bottom-content h2 {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .bottom-content h2 {
    font-size: 22px;
  }
}
.bottom-content ul {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
  list-style: none;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
}
.bottom-content li {
  padding: 0 10px;
  width: 33.33%;
  margin-bottom: 30px;
}
@media (max-width: 550px) {
  .bottom-content li {
    width: 100%;
    margin-bottom: 20px;
  }
}
.bottom-content ul:nth-child(3) li:nth-child(2) {
  margin-top: 12px;
}
.bottom-content ul:nth-child(3) li {
  margin-bottom: 30px;
}
@media (max-width: 768px) {
  .bottom-content {
    padding: 25px 0;
  }
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  font-size: 16px;
  color: #282828;
  margin: 0;
  padding: 0;
  word-wrap: break-word;
}
@media (max-width: 650px) {
  body {
    font-size: 15px;
  }
}
hr {
  border-color: #F57266;
  border-width: 3px;
  max-width: 50px;
}
a {
  -webkit-transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
  color: #000000;
}
a:hover,
a:focus {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 700;
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 500;
}
p {
  font-family: font92691, 'Helvetica Neue', Arial, sans-serif;
  padding-bottom: 25px;
  margin: 0;
  line-height: 30px;
}
.bg-primary {
  background-color: #F57266;
}
.container {
  max-width: 800px;
}
.column-left {
  max-width: 400px;
}
.no-padding {
  padding: 0;
}
img {
  max-width: 100%;
  height: auto;
}
strong {
  font-family: font92687, 'Helvetica Neue', Arial, sans-serif;
  font-weight: 1000;
}
.section-heading {
  margin-top: 0;
}
footer .footer-col {
  margin-bottom: 20px;
}
footer .footer-below {
  padding: 25px 0;
  background: rgba(245, 114, 102, 0.4);
  font-size: 16px;
}
.text-primary {
  color: #F57266;
}
